<header class="px-3 pb-3 bg-dark bg-rainbow text-white"> <a class="visually-hidden-focusable" href="#content">Skip
      Navigation</a>
   <div class="container">
      <!-- NAVIGATION START -->
      <nav class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
         <a href="/" class="d-flex align-items-center mt-3 text-white text-decoration-none"> <img
               src="/assets/images/retransmission_icon.png" class="d-block align-middle" style="width:50px;" alt="{{ site.brand }} Logo" aria-hidden="true">
            <h3 class="ml-3 mr-5 mt-2">&nbsp;{{ site.brand }}&nbsp;&nbsp;&nbsp;</h3>
         </a>
         <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 mt-4 justify-content-center mb-md-0" role="menu">
            <li> <a href="/" class="nav-link px-2{% if page.active_nav == 'home' %} active{% endif %}" role="menuitem">Home</a> </li>
            <li> <a href="/download" class="nav-link px-2{% if page.active_nav == 'download' %} active{% endif %}" role="menuitem">Download</a> </li>
            <li> <a href="/addons" class="nav-link px-2{% if page.active_nav == 'addons' %} active{% endif %}" role="menuitem">Add-Ons</a> </li>
            <li class="dropdown"> <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="menuitem"
                  aria-haspopup="true" aria-expanded="false" data-bs-toggle="dropdown">Community</a>
               <div class="dropdown-menu"> <a class="dropdown-item"
                     href="{{ site.repo_url }}/issues">Report a bug</a> <a
                     class="dropdown-item" href="{{ site.repo_url }}/discussions">Developer
                     & Contributor Discussions</a> <a class="dropdown-item"
                     href="{{ site.forum_url }}/">Community forum</a> </div>
            </li>
            <li> <a href="/donate" class="nav-link px-2{% if page.active_nav == 'donate' %} active{% endif %}">Donate</a> </li>
         </ul>
         <a class="btn btn-outline-light navgitbttn" href="{{ site.repo_url }}"
            role="button"> <i class="fa-brands fa-github">&nbsp;</i>&nbsp;GitHub </a>
      </nav>
      <!-- NAVIGATION END -->
   </div>
</header>
