<html>

	<head>
		<META http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link media="all" rel="stylesheet" href="../styles/{{ page.css }}" />
		<title>{{ page.title }}</title>
	</head>
	<body>
		<div id="mainbox">
			<div id="banner">
				<a name="menus"></a>
				<div id="machelp"><a class="bread" href="../index.html">Retransmission Help</a>
				</div>
				<div id="index">
				<a class="leftborder" href="../html/Index2.html">Index</a></div>
				</div>
			</div>
{{ content }}
		</div>
	</body>

</html>
